*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#controlMarkers{
    border-radius: 8px;
    height: 600px;
    width: 400px;
    background-color: white;
    margin-top: 7px;
    margin-left: 7px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    display: none;
}

.img{
    width: 100px;
    height: 100px;
}

.food{
    background: url('img/food.png') no-repeat center/cover;
}
.place{
    background: url("img/place.png") no-repeat center/cover;
}
.sleep{
    background: url("img/sleep.png") no-repeat center/cover;
}

.addImage{
    background: url("img/add_image.png") no-repeat center/cover;
}
.picture{
    background: url("img/empty_image.png") no-repeat center/cover;
}

.button{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#controlPlaces{
    border-radius: 8px;
    height: 500px;
    width: 400px;
    background-color: white;
    margin-top: 7px;
    margin-right: 7px;
    text-align: center;
    border-style: solid;
    border-color: grey;
}

.btnAddPlace{
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: grey;
}

.btnAdd{
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: grey;
}

.addressContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.address{
    margin: 0;
}

#btnSendDataOfPlaces{
    display: none;
}

#controlMarkers{
    display: none;
}

#chooseFile{
    display: none;
}

#test{
    width: 100px;
    height: 100px;
}

