<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content(user,trips)" class="content">
    <div class="filter col">
        <div class="divFilers">Filters</div>
        <form action="/filter/trips" method="get">
            <div class="form-group">
                <label for="inputAuthor" class="col-form-label">Author</label>
                <input name="author" id="inputAuthor" type="text" class="form-control" placeholder="Search" th:value="${author}">
            </div>
            <div class="form-group">
                <p>
                    <label for="amount" class="col-form-label" >Amount places range:</label>
                    <input name="amount" class="form-control" type="text" id="amount" readonly style="border:0;">
                </p>
                <div id="slider-range"></div>
            </div>
            <script th:inline="javascript">
                var start = /*[[${start}]]*/"";
                var finish = /*[[${finish}]]*/"";
                console.log(start);
                console.log(finish);
                $( function() {
                    $( "#slider-range" ).slider({
                        range: true,
                        min: 0,
                        max: 50,
                        values: [ Number(start), Number(finish) ],
                        slide: function( event, ui ) {
                            $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                        }
                    });
                    $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
                        " - " + $( "#slider-range" ).slider( "values", 1 ) );
                } );
            </script>
            <div th:if="${user != null}">
                <label class="col-form-label">Author</label>
                <div class="form-check">
                    <input name="owner" class="form-check-input" type="radio" value="myTrips" id="my" th:checked="${myTrips}">
                    <label class="form-check-label" for="my">
                        Only my
                    </label>
                </div>
                <div class="form-check">
                    <input name="owner" class="form-check-input" type="radio" value="notMyTrips" id="notMy" th:checked="${notMyTrips}">
                    <label class="form-check-label" for="notMy">
                        Without my
                    </label>
                </div>
                <div class="form-check">
                    <input name="owner" class="form-check-input" type="radio" value="allTrips" id="all" checked th:checked="${allTrips}">
                    <label class="form-check-label" for="all">
                        All places
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="places col">
        <tr th:each="trip: ${trips}">
            <div class="card trip-card">
                <div class="card-body">
                    <h5 class="card-title"><span th:text="${trip.name}"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Author: <span
                            th:text="${trip.author.getUsername()}"></span></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Amount: <span th:text="${trip.getPlaces().size()}"></span>
                    </h6>
                    <a th:href="@{'/adventure/trip/' + ${trip.id} + '/details'}">View Details</a>
                </div>
            </div>
        </tr>
    </div>
</div>
</body>
</html>