html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.display-none{
    display: none;
}

.firstNav {
    background-color: #03a9f4;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    color: white;
}
.secondNav{
    background-color: white;
    color: black;
    padding-left: 100px;
}

.navContainer {
    background-color: #03a9f4;
    height: 64px;
    display: flex;
}

.navbar-brand {
    color: white;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #f5f5f5;
    padding-top: 48px;
}



.info {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
}

.filter {
    flex: 0 0 280px;
    background-color: #f5f5f5;
}

.places {
    flex: 1 1 25%;
    background-color: #f5f5f5;
}

.placeInfoContainer {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
}

.placeInfoContainer:hover {
    box-shadow: 0 2px 6px 0 #e0e4e7,
    inset -1px 0 0 0 rgba(224, 227, 231, .3),
    inset 0 -1px 0 0 #e0e4e7,
    inset 1px 0 0 0 rgba(224, 227, 231, .2);
    cursor: pointer;
}

.divFilers {
    padding-bottom: 40px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.imgUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/user.png?alt=media&token=05341b68-a8b3-4c62-b15c-56e31acab120") no-repeat center/cover;
}

.dropdown span{
    color: white;
}

.btn-info{
    margin-left: 20px;
    background-color: #5bc0de;
    border: none;
    padding-right: 19px;
    padding-left: 19px;
}

.btn-info:hover{
    background-color: #5bc0de;
    border: none;
}

.btn-info:active{
    background-color: #00efd1;
}

.btnInfo{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #343a40;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}

.btnInfo a{
    color: #343a40;
}

.btnInfo p{
    margin: 0;
}

.btnAdd a{
    color: #007bff;
}

.btnAdd{
    display: inline-block;
    background-color: transparent;
    border: 1px solid  #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btnAddToTrip{
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
}

.nav-link:hover{
    cursor: pointer;
    color: #03a9f4;
}

.form-user-data, .form-profile-data, .content-profile{
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-profile-data{
    text-align: left;
}

.form-profile-data .form-control{
    margin: auto;
}

.btn-inline{
    display: inline-block;
}

.card-body{
    width: 250px;
}

.inline{
    display: inline-block;
}

.form-group{
    margin: 20px;
}



