#leftBarViewDetails{
    text-align: left;
}

.contener{
    padding-left: 7px;
    padding-right: 7px;
}

.images {
    width: 395px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

.images img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 395px;
    height: 300px;
}

.info-container{
    display: flex;
    align-items: center;
}

.food{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/bar.png?alt=media&token=1a2506f3-7e66-4fdb-b282-9c3eb1c1eff1') no-repeat center/cover;
}
.place{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/building.png?alt=media&token=b33b0163-8293-4492-be83-d0120c4f49f9') no-repeat center/cover;
}
.sleep{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/hotel.png?alt=media&token=53a39efd-ec02-445d-8c8f-f2c16cc21d52') no-repeat center/cover;
}

.user{
    border-radius: 50%;
    background: url("https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/user.png?alt=media&token=05341b68-a8b3-4c62-b15c-56e31acab120") no-repeat center/cover;
}

.icon-properties{
    width: 39px;
    height: 39px;
    display: inline-flex;
}

.text-properties{
    display: inline-flex;
    padding: 10px;
}

.text{
    font-size: 1.1rem;
    font-weight: 500;
}

.text-description{
    font-size: 1rem;
}
