.comment {
    border-bottom: 1px solid #ced4da;
}

#form-edit-comment{
    display: none;
    padding-bottom: 5px;
}

.comments{
    text-align: left;
}

#comment-content{
    box-sizing: border-box;
    width: 350px;
}

.comment-button{
    display: inline-block;
}

.edit-form{
    display: none;
}