.card:hover{
    box-shadow: 0 2px 6px 0 #e0e4e7,
    inset -1px 0 0 0 rgba(224, 227, 231, .3),
    inset 0 -1px 0 0 #e0e4e7,
    inset 1px 0 0 0 rgba(224, 227, 231, .2);
    cursor: pointer;
}

.image {
    width: 286px;
    height: 190px;
    display: block;
    background-size: cover;
    margin: auto;
}

.image img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 190px;
}

.content{
    width: 85%;
    margin: auto;
    display: block;
}

.optionDefault{
    display: none;
}

.card{
    display: inline-block;
}

.food{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/bar.png?alt=media&token=1a2506f3-7e66-4fdb-b282-9c3eb1c1eff1') no-repeat center/cover;
}
.place{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/building.png?alt=media&token=b33b0163-8293-4492-be83-d0120c4f49f9') no-repeat center/cover;
}
.sleep{
    background: url('https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/hotel.png?alt=media&token=53a39efd-ec02-445d-8c8f-f2c16cc21d52') no-repeat center/cover;
}

.type-icon{
    width: 39px;
    height: 39px;
    display: inline-block;
}

.info-with-icon{
    display: flex;
    align-items: center;
}

.imgUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/user.png?alt=media&token=05341b68-a8b3-4c62-b15c-56e31acab120") no-repeat center/cover;
}

.inPlace{
    width: 39px;
    height: 39px;
}

.user-group{
    display: inline-flex;
}

.user-name{
    padding: 10px;
}

.place-address{
    display: inline-block;
}

.address{
    line-height: 2.3;
}
