<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_my_places.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_navbar.css}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/facc149abe.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navContainer">
    <nav class="navbar navbar-expand-lg firstNav">
        <a class="navbar-brand" href="/">System turystyczny</a>
        <div class="collapse navbar-collapse">
        </div>
        <div class="imgUser"></div>
        <th:block th:insert="${user == null}?
        ~{fragments/general:: bar} :
        ~{fragments/general:: barUser(${user.getUsername()})}">
        </th:block>
    </nav>
</header>
<nav class="navbar navbar-expand-lg secondNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/adventure/places">Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adventure/trips">Trips</a>
            </li>
        </ul>
    </div>
</nav>
<th:block th:if="${places != null}">
    <div th:insert="fragments/user_places :: content(${places})"></div>
</th:block>
<th:block th:if="${trips != null}">
    <div th:insert="fragments/user_trips :: content(${trips})"></div>
</th:block>
<div th:insert="fragments/modal_form_new_trip :: newTrip"></div>
<script th:src="@{/js/modals.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>