<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_my_places.css}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/facc149abe.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navContainer">
    <nav class="navbar navbar-expand-lg firstNav">
        <a class="navbar-brand" href="/">System turystyczny</a>
        <div class="collapse navbar-collapse">
        </div>
        <div class="imgUser"></div>
        <a class="btn btn-info" th:href="@{/login}" th:if="${userName == null}">Get started</a>
        <div class="nav-item dropdown" th:if="${userName}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <span th:text="${userName}"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/map">Add new place</a>
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/registration">Registration</a>
                <a class="dropdown-item" href="/places/my">My places</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/places/forTrip">For trip</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </nav>
</header>
<nav class="navbar navbar-expand-lg secondNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trips</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <tr th:each="place: ${places}">
        <div class="card" style="width: 18rem;">
            <div class="image"><img th:src="@{'/images/' + ${place.getOneFile()}}" class="card-img-top" alt="..."></div>
            <div class="card-body">
                <div class="info-with-icon">
                    <div class="imgUser inPlace"></div>
                    <div class="user-group user-name"><span class="card-title" th:text="${place.authorName}"></span></div>
                </div>
                <div class="info-with-icon">
                    <div id="place" class="type-icon" th:classappend="${place.type}"></div>
                    <div class="place-address"><span class="address" th:text="${place.address}"></span></div>
                </div>
                <a th:href="@{'/place/' + ${place.id} + '/view'}" class="btn-link">View Details</a>
                <a th:href="@{${place.id} + '/delete'}" class="btn btn-danger">DELETE</a>

            </div>
        </div>
    </tr>
</div>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/place.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>