<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_index_content.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_place.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_comments.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_rating.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/facc149abe.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navContainer">
    <nav class="navbar navbar-expand-lg firstNav">
        <a class="navbar-brand" href="/">System turystyczny</a>
        <div class="collapse navbar-collapse">
        </div>
        <div class="imgUser"></div>
        <a class="btn btn-info" th:href="@{/login}" th:if="${user.getUsername() == null}">Get started</a>
        <div class="nav-item dropdown" th:if="${user.getUsername()}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <span th:text="${user.getUsername()}"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/map">Add new place</a>
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/registration">Registration</a>
                <a class="dropdown-item" href="/places/my">My places</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/places/forTrip">For trip</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <div class="left-info col">
        <div class="images">
            <a class="gallery" th:href="@{'/images/' + ${place.getOneFile()}}">
                <img class="displayed" th:src="@{'/images/' + ${place.getOneFile()}}"/>
            </a>
        </div>
        <tr th:each="img : ${place.getWithoutFirstFile()}">
            <a class="display-none gallery" th:href="@{'/images/' + ${img}}">test</a>
        </tr>
    </div>
    <div class="right-info col">
        <div class="info">
            <form id="ratingsForm" th:action="'/place/rate/' + ${place.id}" method="get">
                <div class="stars">
                    <input type="hidden" id="rating" name="rating" th:value="${place.rating}">
                    <input type="radio" name="star" class="star-1" id="star-1"/>
                    <label class="star-1" for="star-1" onclick="rateThisShit(1)">1</label>
                    <input type="radio" name="star" class="star-2" id="star-2"/>
                    <label class="star-2" for="star-2" onclick="rateThisShit(2)">2</label>
                    <input type="radio" name="star" class="star-3" id="star-3"/>
                    <label class="star-3" for="star-3" onclick="rateThisShit(3)">3</label>
                    <input type="radio" name="star" class="star-4" id="star-4"/>
                    <label class="star-4" for="star-4" onclick="rateThisShit(4)">4</label>
                    <input type="radio" name="star" class="star-5" id="star-5"/>
                    <label class="star-5 star" for="star-5" onclick="rateThisShit(5)">5</label>
                    <span></span>
                </div>
            </form>
            <div class="user-info-container">
                <div class="imgUser inPlace user-group"></div>
                <div class="user-group user-name"><span th:text="${place.authorName}"></span></div>
            </div>
            <div class="btn-group">
                <div id="place" class="type-icon" th:classappend="${place.type}"></div>
                <div class="place-address"><span class="address" th:text="${place.address}"></span></div>
            </div>
            <label for="description">Description:</label>
            <div id="description"><span th:text="${place.description}"></span></div>
            <div class="tags">
                <div class="tag" th:each="tag : ${place.getTags()}">
                    <h5><span class="badge badge-secondary" th:text="${tag}"></span></h5>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-inline"><a class="btn btn-primary" th:href="@{${place.id} + '/edit'}">EDIT</a></div>
            <div class="btn-inline"><a class="btn btn-primary" th:href="@{'/place/' + ${place.id} + '/view'}">View
                Details</a></div>
            <div class="btn-inline btn btn-primary" data-toggle="modal" data-target="#AddToTripModal"
                 th:data-whatever="${place.id}">ADD TO TRIP
            </div>
            <div class="btn-inline"><a class="btn btn-warning" href="/trip" data-toggle="modal"
                                       data-target="#ban">BAN</a></div>
            <div class="btn-inline"><a class="btn btn-danger" th:href="@{${place.id} + '/delete'}">DELETE</a></div>
        </div>
    </div>
</div>
<div class="content-comments">
    <form method="post" class="inputComment" th:action="'/place/' + ${place.id} + '/commit'">
        <label for="comment">Write to new comment</label>
        <textarea class="form-control" id="comment" rows="5" name="newComment"
                  maxlength="25"></textarea>
        <button type="submit" class="btn btn-primary">Commit</button>
    </form>
    <label class="commentsLabel" for="comments">Comments</label>
    <div class="comments" id="comments">
        <tr th:each="comment : ${comments}">
            <div class="comment">
                <div class="comment-info">
                    <div><span th:text="${comment.author.username}"></span></div>
                    <div id="comment-content"><span th:text="${comment.content}"></span></div>
                </div>
                <div class="comment-edit" onclick="show()">EDIT</div>
                <div class="comment-delete"><a
                        th:href="@{'/' + ${place.id} + '/' + ${comment.id} + '/delete'}">DELETE</a></div>
                <form id="form-edit-comment" th:action="@{'/' + ${place.id} + '/' + ${comment.id} + '/edit'}"
                      method="post">
                <textarea class="form-control" id="commentEdit" rows="5" name="editComment"
                          th:text="${comment.content}" maxlength="25"></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </tr>
    </div>
</div>




<div class="modal fade" id="ban" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">BAN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="@{'/place/' + ${place.id} + '/ban'}">
                <select class="form-control" required="" th:name="typeOfBan">
                    <option class="optionDefault" disabled="" selected="">Choose type of ban</option>
                    <tr th:each="trip: ${T(com.example.travelInfo.domain.TypeOfBan).values()}">
                        <option th:value="${trip}" th:text="${trip}"></option>
                    </tr>
                </select>
                <div class="form-group">
                    <label for="commentForBan">Comment</label>
                    <input type="text" class="form-control" id="commentForBan" name="commentForBan">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Send ban</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddToTripModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New trip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/trip">
                <select class="form-control" required="" th:name="trip">
                    <option class="optionDefault" disabled="" selected="">Choose trip</option>
                    <tr th:each="trip: ${trips}">
                        <option th:value="${trip.id}" th:text="${trip.getName()}"></option>
                    </tr>
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Add to trip</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/place.js}"></script>
<script th:src="@{/js/comp.js}"></script>
<script th:src="@{/js/gallery.js}"></script>
<script>
    (function ($) {
        $(".gallery").gallery();
    })(Comp);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>