<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="text-center">
<form class="form-user-data" th:action="@{/registration}" method="post">
    <img class="mb-4" src="https://firebasestorage.googleapis.com/v0/b/travelinfo-1cc54.appspot.com/o/user.png?alt=media&token=05341b68-a8b3-4c62-b15c-56e31acab120" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
    <input type="text" name="username" class="form-control" placeholder="Nickname"
           th:classappend="${usernameError}?'is-invalid':''" th:value="${user}?${user.username}:''">
    <div class="invalid-feedback">
        <span th:text="${usernameError}"></span>
    </div>
    <input type="text" name="name" class="form-control" placeholder="Name"
           th:classappend="${nameError}?'is-invalid':''" th:value="${user}?${user.name}:''">
    <div class="invalid-feedback">
        <span th:text="${nameError}"></span>
    </div>
    <input type="text" name="surname" class="form-control" placeholder="Surname"
           th:classappend="${surnameError}?'is-invalid':''" th:value="${user}?${user.surname}:''">
    <div class="invalid-feedback">
        <span th:text="${surnameError}"></span>
    </div>
    <input type="password" name="password" class="form-control" placeholder="Password"
           th:classappend="${passwordError}?'is-invalid':''">
    <div class="invalid-feedback">
        <span th:text="${passwordError}"></span>
    </div>
    <input type="password" name="password2" class="form-control" placeholder="Confirm password"
           th:classappend="${password2Error}?'is-invalid':''">
    <div class="invalid-feedback">
        <span th:text="${password2Error}"></span>
    </div>
    <input type="email" name="email" class="form-control" placeholder="some@some.com"
           th:classappend="${emailError}?'is-invalid':''" th:value="${user}?${user.email}:''">
    <div class="invalid-feedback">
        <span th:text="${emailError}"></span>
    </div>
    <div class="alert alert-danger" th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <a class="btn" href="/login">You already have account? Sign in!</a>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>